
.carousel-inner {
    position: relative;
  }
  
  .welcome-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .unclickable {
    pointer-events: none;
  }
  
  .view {
    color: #fff;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #080808;
  }
